.rides-list-item {
    width: 912px;
    height: 195px;
    gap: 24px;
    border-radius: 20px;
    padding: 25px;
    border: 1px solid #E2E8F0;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.rides-list-times-owner-details-container {
    width: 638px;
    min-height: 145px;
    display: flex;
    align-items: center;
    gap: 24px;

}

.rides-list-times-places-container {
    height: 100%;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rides-list-time-place-container {
    width: 140px;
    min-height: 49px;
    gap: 4px;

}

.rides-list-time {
    font-family: "Inter";
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #1E293B;
    height: 29px;
    margin-top: 0;
    margin-bottom: 2px;

}

.rides-list-place {
    font-family: "Inter";
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #64748B;
    height: 16px;
    margin-top: 0;
    margin-bottom: 0;

}

.rides-list-journey-time-container {
    width: 140px;
    height: 47px;
    padding-top: 16px;
    padding-bottom: 16px;

}

.rides-list-journey-time {
    font-family: "Inter";
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #94A3B8;

}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.top-circle {
  width: 10px;
  height: 10px;
  border: 2px solid #D26100;
  background-color: #FFFFFF;
  border-radius: 10px;
}


.line {
  width: 3px;
  height: 115px;
  background: #E2E8F0;
  
}


.bottom-circle {
  width: 10px;
  height: 10px;
  background-color: #D26100;
  border-radius: 10px;
  border: 2px solid #D26100;
}

.extra-line {
  width: 3px;
  height: 40px;    
  background: #E2E8F0;
}

