.filters-rides-container {
    width: 1280px;
    height: 1116px;
    max-width: 1280px;
    padding-top: 40px;
    padding-right: 24px;
    padding-bottom: 80px;
    padding-left: 24px;
    display: flex;
    gap: 40px;

}