.header {
    width: 1440px;
    height: 80px;
    padding-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #0000000D;
    box-shadow: 0px 4px 20px -10px #0000000D;
    backdrop-filter: blur(20px);
    background-color: #FFFFFFF2;
}

.nav-container {
    width: 1280px;
    min-height: 48px;
    max-width: 1280px;
    padding-right: 24.01px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    min-width: 153.55999755859375px;
    min-height: 40px;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.car-container {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #D26100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px 0px #D261004D;
}

.car-logo {
    width: 24px;
    height: 24px;
    color: #ffffff;
}

.logo-heading {
    font-family: "Inter", "Roboto";
    font-weight: 800;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.5px;
    vertical-align: middle;
    color: #1E293B;
}

.nav-links-container {
    padding-right: 24px;
    padding-left: 24px;
    min-width: 533.7100219726562px;
    min-height: 19px;
    gap: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-family: "Inter";
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #475569;
    text-decoration: none;

}

.sign-in-ride-container {
    min-width: 212.1800079345703px;
    min-height: 48px;
    gap: 15.99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-button {
    padding-right: 12px;
    padding-left: 12px;
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #475569;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

}

.post-a-ride-button {
    min-width: 123px;
    min-height: 48px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 12px;
    background-color: #D26100;
    border: none;
    box-shadow: 0px 4px 12px 0px #D2610033;
    cursor: pointer;
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}