.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.responsive-container {
  width: 1440px;
  height: 1746px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8FAFC;
}